body {
    color: #666666;
    font-size: 15px;
    font-family: 'WorkSans', 'Quattrocento Sans', sans-serif;
    line-height: 1.80857;
}

.all-title-box {
    background: url('../../assets/images/back-header.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
    padding: 70px 0px;
    position: relative;
}

.all-title-box::before {
    background: rgba(0,0,0,0.6);
    content: "";
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.all-title-box h2 {
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
    padding-bottom: 30px;
}

.all-title-box .breadcrumb {
    background: #d81a5a;
    margin: 5px;
    display: inline-block;
    border-radius: 3px;
}

.all-title-box .breadcrumb li {
    display: inline-block;
    color: #010101;
    font-size: 19px;
}

.all-title-box .breadcrumb li a {
    color: #ffffff;
    font-size: 19px;
}
ul, li, ol {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul{
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 120% !important;
    /* color: #1f1f1f; */
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 120% !important;
    color: #1f1f1f;
    margin: 0;
}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.service-block-inner {
    padding: 15px 20px;
    position: relative;
    margin-bottom: 30px;
}

.service-block-inner::before {
    content: "";
    width: 5px;
    height: 100%;
    border-radius: 0px;
    background: #010101;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease 0s;
}

.service-block-inner h3 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
}

.service-block-inner p {
    margin: 0px;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 0px;
}

.text-justify {
    text-align: justify!important;
}